<%#binding.pry %>
<h3>Find a Movie Here</h3>
<%= form_tag('/movies/search', method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search by Movie Title") %>
<% end %>
<% @films.each do |film| %>
  <p><%= film[:original_title] %> <%= "Voter Average: #{film[:vote_average]}" %></p>
<% end %>
<%#binding.pry %>
<%# need to add test %>
