<h1><%= @json[:original_title] %></h1>
<%=  link_to 'Create Viewing Party for Movie',
"/movies/#{@json[:id]}/parties/new", method: :get %>
<p>Vote Average: <%= @json[:vote_average] %></p>
<%= "Runtime: #{@json[:runtime]/60} h #{@json[:runtime] % 60} min" %>
<p>Genre:</p>
<% @json[:genres].each do |genre| %>
  <p><%= genre[:name] %></p>
<% end  %>
<p>Summary: <%= @json[:overview] %></p>
<h3><%= "Cast" %></h3>
<% @first_10_cast.each do |character| %>
<p><%= "#{character[:character]} played by #{character[:name]}" %></p>
<% end %>



<h3><%= "REVIEWS" %></h3>
<p> Number of Reviews: <%= @reviews[:results].count %></p>
<% @reviews[:results].each do |review| %>
  <p><%= "Reviewer: #{review[:author]}" %></p>
  <p><%= review[:content] %></p>
<% end %>



<%#
 Runtime in hours & minutes
 List the first 10 cast members (characters&actress/actors)
 Each review's author and information %>
