<h1><%= @json[:original_title] %></h1>
<%=  link_to 'Create Viewing Party for Movie',
"/movies/#{@json[:id]}/parties/new", method: :get %>
<h2>Vote Average:</h2>
<%= @json[:vote_average] %>
<h2>Runtime</h2>
<%= "#{@json[:runtime]/60} h #{@json[:runtime] % 60} min" %>
<h2>Genre(s)</h2>
<% @json[:genres].each do |genre| %>
  <p><%= genre[:name] %></p>
<% end  %>
<h2>Summary</h2>
<%= @json[:overview] %>
<h2>Cast</h2>
<% @first_10_cast.each do |character| %>
<p><%= "#{character[:character]} played by #{character[:name]}" %></p>
<% end %>
<h2>Number of Reviews</h2>
<%= @reviews[:results].count %>
<h2>Reviews</h2>
<% @reviews[:results].each do |review| %>
  <p><%= "Reviewer: #{review[:author]}" %></p>
  <p><%= review[:content] %></p>
<% end %>
