<h1>Register</h1>

<%= form_with model: @user, local: true do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username, id: "Username" %>

  <%= f.label :email %>
  <%= f.text_field :email, id: "Email" %>

  <%= f.label :password %>
  <%= f.text_field :password, value: nil, id: "Password" %>

  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation, value: nil, id: "Password Confirmation" %>

  <%= f.submit "Register" %>
<% end %>
